.react-calendar {
    background-color: #222 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    padding: 10px !important;
    width: 100%;
}
  
.react-calendar__navigation {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
  
.react-calendar__navigation button {
    background: none !important;
    border: none !important;
    color: #fff !important;
    font-size: 16px !important;
    cursor: pointer !important;
    padding: 5px 10px !important;
}
  
.react-calendar__navigation button:hover {
    color: #007bff !important;
}
  
.react-calendar__month-view__weekdays {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: none !important;
    color: #fff !important;
    margin: 0 !important;
    padding: 5px 0 !important;
}
  
.react-calendar__month-view__weekdays__weekday {
    white-space: nowrap !important;
    overflow: visible !important;
    text-overflow: clip !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
  
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none !important;
    cursor: default !important;
}
  
.react-calendar__tile {
    background: none !important;
    border: none !important;
    color: #fff !important;
    padding: 5px !important;
    font-size: 14px !important;
    text-align: center !important;
    transition: none !important;
}
  
.react-calendar__tile--disabled {
    background: none !important;
    color: #777 !important;
    border: none !important;
}
  
.react-calendar__tile--now {
    background: none !important;
    color: #fff !important;
    font-weight: bold !important;
    border: none !important;
}
  
.react-calendar__tile--active {
    background: none !important;
    color: #007bff !important;
    font-weight: bold !important;
    border: none !important;
}
  
.react-calendar__tile:hover {
    background: none !important;
    color: #ccc !important;
    transform: none !important;
}
  
.react-calendar__tile:focus {
    outline: none !important;
}
  
.react-calendar__month-view__days__day--neighboringMonth {
    color: #777 !important;
}