/* 전체 레이아웃을 감싸는 컨테이너 */
.layoutContainer {
    display: flex;
    flex-direction: row;
}

/* 사이드바 */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 메인 컨텐츠 */
.contentContainer {
    display: flex;
    flex: 1;
    min-width: 1200px;
}
